* {
    box-sizing: border-box;
    font-family: "Plus Jakarta Sans", sans-serif;
}

body {
    min-width: 100vh;
    background-image: linear-gradient(#FFFFFF, #EBDCFF);
}

.banner {
    background-image: url("./images/hero-bg.png");
    margin: 100px auto 120px auto;
    padding: 20px 30px;
    width: 87.5%;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-content {
    width: 50%;
}

.banner-content * {
    margin-bottom: 20px;
}

.btn {
    background-color: #872BFF;
    padding: 16px 32px;
    border-radius: 30px;
    color: white;
    margin-right: 20px;
    cursor: pointer;
}

.btn-white {
    background-color: white;
    padding: 16px 32px;
    border-radius: 30px;
    color: black;
    margin-right: 20px;
    cursor: pointer;
    border: 2x solid #872BFF;
}

.banner-content p {
    color: #A8A8A8;
    font-weight: medium;
    font-size: 18px;
}

.banner-content h1 {
    font-size: 70px;
    font-weight: bold;
}

.banner-content h1 span {
    color: #F411CF;
}

.banner-img {
    width: 50%;
}

.banner-img img {
    width: 600px;
}

.service,
.story,
.country,
.review {
    margin: 0px auto 120px auto;
    width: 87.5%;
}

.heading-content {
    text-align: center;
}

.heading-content h4 {
    color: #F411CF;
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 3px;
    margin-bottom: 30px;
    /* border: 1px solid black; */
}

.heading-content h2 {
    font-weight: bold;
    font-size: 44px;
    margin-bottom: 55px;
}

.service-card-container {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.service-card {
    background: #FDFFFF;
    border-radius: 30px;
    padding: 60px;
    text-align: center;
    width: 350px;
    /* height: 450px; */
}

.service-card img {
    margin-bottom: 30px;
}

.service-card h2 {
    font-weight: semibold;
    font-size: 28px;
    margin-bottom: 20px;
}

.service-card p,
.story-content p,
.review-card p {
    color: #A8A8A8;

}

.story-card {
    background-color: white;
    padding: 40px;
    border-radius: 24px;
    display: flex;
    gap: 20px;
}

.story-content h2,
.story-content p,
.story-content img {
    margin-bottom: 12px;
}

.country-card-container {
    gap: 24px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.country-card-container h2 {
    background-color: white;
    padding: 40px;
    border-radius: 16px;
}

.review-card {
    background: white;
    padding: 24px;
    text-align: center;
    border-radius: 16px;
    margin-bottom: 60px;
}

.review-p {
    margin-bottom: 60px;
}

footer {
    background-color: navy;
    margin: 60px auto 0;
    padding: 20px 123px;
}

.footer-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
}

.footer-box p {
    color: white;
    margin: 0;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 32px;
    padding: 0;
    margin: 0;
}